<p><%= link_to 'Add a new one', new_item_type_item_path(item_type) %></p>
  <% body_type.bodies.each do |body| %>
    <%= render body %>
    <p><%= link_to item.title, item_type_item_path(item_type, item) %></p>
  <% end %>