<div class="row">
  <div id="leftCol" class="col-xs-3">
    <h1>Our Solar System:</h1>

    <p>We have <% @body_types.count %> Body types! </p>

    <p><% @body_types.each do |body_type| %>
    
      <h4><%= link_to(body_type.name, body_type_path(body_type)) %></h4>
    </p>

    <%#= render 'body_types/body_types' %>
    <% end %>

    <p></p>

    <%= render 'layouts/ssControls' %>

  </div>
  <div id="rightcol" class="col-xs-9">
 
   <iframe src="http://codepen.io/juliangarnier/full/idhuG" width="100%" height="600px" frameborder="0"></iframe>
  </div>
</div>
