<div class="row">
  <div class="col-xs-12">
    <h1>What have we got here?</h1>
    <% @body_types.each do |body_type| %>
    <p>
      We have <% @body_types.count %> Body types! </p>

      <%= link_to(body_type.name, body_type_path(body_type)) %>
      </p>

     <%= render body_types %>
    <% end %>
  </div>
</div>

<div>
<hr />
<%#= render 'layouts/item' %>
</div> 