<div>
  <footer class="footer">
    <p><%= link_to 'Home', root_path %></p>
    <hr />
    <small>
    <p>Format and Boostrap stuff from<br/>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a><br />
    Overall Project by <a href="http://mowen.imgd.ca/nextweb/">Mike Owen</a>
    </p>
    </small>
  </footer>
</div>
