<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <!-- <%= link_to "sample app", '#', id: "logo" %> -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'IMG 240', 'http://adunae.imgd.ca/' %></li>
        <li><%= link_to 'NicGuy59', 'http://mowen.imgd.ca/nextweb/' %></li>
      </ul>
    </nav>
  </div>
</header>
