<div class="row">
  <div id="leftCol" class="col-xs-3">
    <h3>What have we got here?</h3>
      <% @body_types.each do |body_type| %>
        <p> We have <% @body_types.count %> Body types! </p>
        <%= link_to(body_type.name, body_type_path(body_type)) %></p>
      <% end %>
  </div>
  <div id="rightcol" class="col-xs-9">
    <p>Spacer for the solar system graphic</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p></p>
    <hr />
  </div>
</div>
