<div class="ssControls">
<p></p>
<hr />
<h4>3D Solar System Controls</h4>

<p>The 3D Solar System display on the right is a plug-in, and not connected to the Ruby Text App.  It is just for looks.
<p>Click on "Data" to see individual body information<br />
"Data" is found in the top left corner of the solar system display, under the "CSS 3D Solar System" title in the Right Panel Header.</p>
<p>Click on "Controls" to see individual body information<br />
"Controls" is found in the top right corner of the solar system display, under the "Sign Up" button in the Right Panel Header.</p>

</div>
<hr />
<small></small>
